# Для автоматического запуска при перезагрузке сервера копия этого файла
# должна лежать в папке /etc/systemd/system/
# команда для копирования файла в нужную категорию sudo cp callbacks_controller.service /etc/systemd/system/
# systemctl enable callbacks_controller.service - это команда в регистрации автозапуска при рестарте
# service callbacks_controller.service start - запуск/ stop

[Unit]
Description=Gunicorn Daemon for FastAPI application
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/home/malahov/callbacks_server
ExecStart=/home/malahov/callbacks_server/.venv/bin/gunicorn -c callbacks_server/config/gunicorn.py callbacks_server.http_api.base:app
[Install]
WantedBy=multi-user.target
